<% unless @system_site_packages.nil?  %> --system-site-packages<% end -%><% unless @copies.nil?  %> --copies<% end -%><% unless @clear.nil?  %> --clear<% end -%><% unless @upgrade.nil?  %> --upgrade<% end -%><% unless @without_pip.nil?  %> --without-pip<% end -%>